<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LOA Board</title>

    <link href="/css/bootstrap-3.1.0.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>

    <script>
        GAME = '<%= $pgn %>';
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Lines of Action virtual board</h1>
        <p class="lead">to analyze your LittleGolem games</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div id="holder">
          </div>
        </div>

        <div class="col-md-6">

          <div class="panel panel-info" id="game_details">
            <div class="panel-heading">
              <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#game_details" href="#game_details_main">Game details</a>
              </h3>
            </div>

            <div class="panel-body collapse in" id="game_details_main">
              <dl class="dl-horizontal">
                <dt>To move</dt>
                <dd data-bind="text: currentMove"></dd>

                <dt>Event</dt>
                <dd data-bind="text: tagEvent"></dd>

                <dt>White player</dt>
                <dd data-bind="text: tagWhite"></dd>

                <dt>Black player</dt>
                <dd data-bind="text: tagBlack"> </dd>

                <dt>Little Golem link</dt>
                <dd><a href="http://www.littlegolem.net/jsp/game/game.jsp?gid=<%= $game_id %>">Game <%= $game_id %></a></dd>

                <dt>White pices left</dt>
                <dd data-bind="text: whiteCheckers"></dd>

                <dt>Black pieces left</dt>
                <dd data-bind="text: blackCheckers"></dd>

                <dt>Game result</dt>
                <dd data-bind="text: tagResult"> </dd>

              </dl>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Moves</h3>
            </div>

            <div class="panel-body" data-bind="foreach: actualMoves">
              <button type="button" class="btn btn-default btn-xs actual-move"
                      data-bind="text: moveText, click: $root.mainlineClick">
              </button>
            </div>

            <div class="panel-body" data-bind="foreach: variationMoves">
              <button type="button" class="btn btn-link btn-xs"
                      data-bind="text: moveText, click: $root.variationClick">
              </button>
            </div>
          </div>

        </div>
      </div>

      <div class="navbar navbar-fixed-bottom">
        <div class="container">
          <p class="text-muted">&copy; 2014 Ivan Veselov aka sphynx</p>
        </div>
      </div>
    </div>

  <script src="/lib/jquery-1.11.0.min.js"></script>
  <script src="/lib/bootstrap-3.1.0.min.js"></script>
  <script src="/lib/knockout-3.0.0.min.js"></script>
  <script src="/lib/raphael-2.1.2.min.js"></script>
  <script src="/lib/underscore-1.6.0.min.js"></script>
  <script src="/lib/parsimmon-dev.js"></script>

  <script src="/js/loa.js"></script>
  <script src="/js/board.js"></script>
  <script src="/js/pgn.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2297936-1', 'horna.org.ua');
  ga('send', 'pageview');

  </script>

  </body>
</html>
